
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Редактирование доп.атрибутов группы {{ groupAttr.groupName }}</h1>
 </div>
    <!-- /.col-lg-12 -->
    <!-- /.row -->
  <div class="row">
        <div class="col-lg-6">
            <div class="panel" [ngClass]="submitted? 'panel-success' : 'panel-default'">
                <div class="panel-heading">                    
                     <span [hidden]="!submitted">Сохранить изменения {{ groupAttr.groupName }}?</span>
                     <span>&nbsp;</span> 
                     <span [hidden]="submitted"><button class="btn btn-default" (click)="goBack()"><i class="fa fa-arrow-circle-left fa-lg"></i></button></span>
                </div>
                 <!-- /.panel-heading -->
                <div class="panel-body">
                   <div [hidden]="submitted">
                     <form class="form-horizontal" *ngIf="active" (ngSubmit)="onSubmit()"  #groupAttrEdit="ngForm">
                      <div class="form-group">
                          <label for="userName" class="col-sm-2 control-label">Группа</label>
                          <div class="col-sm-10">
                              <input id="groupName" class="form-control" formControl="groupName" [(ngModel)]="groupAttr.userName" #userName="ngForm" readonly>             
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="attribute" class="col-sm-2 control-label">Атрибут</label>
                          <div class="col-sm-10">
                              <input id="attribute" class="form-control" formControl="attribute" [(ngModel)]="groupAttr.attribute" #attribute="ngForm" required minlength="5" maxlength="64" placeholder="Cleartext-Password">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="op" class="col-sm-2 control-label">Оператор</label>
                          <div class="col-sm-10">
                              <input id="op" class="form-control" formControl="op" [(ngModel)]="groupAttr.op" #op="ngForm" required minlength="1" maxlength="2" placeholder=":=">
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="value" class="col-sm-2 control-label">Значение</label>
                          <div class="col-sm-10">
                              <input id="value" class="form-control" formControl="value" [(ngModel)]="groupAttr.value" #value="ngForm" required minlength="6" maxlength="253" placeholder="mypassword">
                          </div>
                      </div>  
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                              <span><button type="submit" class="btn btn-default pull-right"  [disabled]="!groupAttrEdit.form.valid"><i class="fa fa-save fa-lg"></i> сохранить</button></span>
                          </div>
                      </div>
                  </form>
               </div>

         <div [hidden]="!submitted">
             <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Группа</label>
                          <div class="col-sm-10">
                              <input class="form-control" placeholder="{{ groupAttr.userName }}" readonly>            
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Атрибут</label>
                          <div class="col-sm-10">
                              <input class="form-control" placeholder="{{ groupAttr.attribute }}" readonly>             
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Оператор</label>
                          <div class="col-sm-10">
                              <input class="form-control" placeholder="{{ groupAttr.op }}" readonly>     
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Значение</label>
                          <div class="col-sm-10">
                              <input class="form-control" placeholder="{{ groupAttr.value }}" readonly>       
                          </div>
                      </div>                     
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                              <span><button type="button" class="btn btn-default" (click)="submitted=false"><i class="fa fa-edit fa-lg"></i> редактрировать</button></span>
                              <span><button type="button" class="btn btn-success pull-right" (click)="onSave()"><i class="fa fa-save fa-lg"></i> сохранить</button></span>                              
                          </div>
                      </div>
                  </form>             
              </div>
           </div>
       </div>
    </div>
  </div>
</div>


