<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
             <h3><span class="label label-info">Включить в группу</span></h3>                    
             <button class="btn btn-default" (click)="goToNewUserInGroup()"><i class="fa fa-pencil fa-lg"> создать</i></button>                     
         </div>
         <!-- /.panel-heading -->
         <div class="panel-body">
              <div class="col-sm-offset-4 col-sm-10" [hidden]="!loading">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
              </div>
              <ul class="list-group">
                 <a href="" [routerLink]="['UserInGroupDetail', {id: userInGroup.id}]" *ngFor="let userInGroup of usersInGroup" class="list-group-item">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x"></i>
                    </span>
                    <span> - {{ userInGroup.userName }} </span>
                    <span>
                        <i class="fa fa-chevron-right"></i>                        
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-users fa-stack-1x"></i>
                    </span> 
                    <span> - {{ userInGroup.groupName }} </span>
                 </a>
              </ul>
         </div>
     </div>
 </div>
    

