
 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Пользователи</h1>
    </div>
    <!-- /.col-lg-12 -->
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                     Список пользователей                    
                     <span>&nbsp;</span>
                     <button class="btn btn-default" (click)="goToNewUser()"><i class="fa fa-pencil fa-lg"> создать</i></button>                     
                 </div>
                 <!-- /.panel-heading -->
                 <div class="panel-body">
                      <div class="col-sm-offset-4 col-sm-10" [hidden]="!loading">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                      </div>
                      <ul class="list-group">
                         <a href="" [routerLink]="['UserDetail', {id: user.id}]" *ngFor="let user of users" class="list-group-item">
                            <span><i class="fa fa-user fa-lg"></i></span>
                            <span> - {{ user.userName }}</span>
                         </a>
                      </ul>
                 </div>
             </div>
         </div>         
             <usersattr-list></usersattr-list>             
     </div>
</div>
