<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Сведения о сетевом устройстве {{ nas.nasName }}</h1>
 </div>
    <!-- /.col-lg-12 -->
    <!-- /.row -->
  <div class="row">
        <div class="col-lg-6">
            <div class="panel" [ngClass]="confirmDelete? 'panel-danger' : 'panel-default'">
                <div class="panel-heading">                    
                     <span [hidden]="!confirmDelete"> Подтвердите удаление сетевого устройства {{ nas.nasName }}! </span>
                     <span>&nbsp;</span> 
                     <span [hidden]="confirmDelete"><button class="btn btn-default" (click)="goBack()"><i class="fa fa-arrow-circle-left fa-lg"></i></button></span>
                </div>
                 <!-- /.panel-heading -->
                <div class="panel-body">                
                
                <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Название</label>
                          <div class="col-sm-10">
                              <input class="form-control" placeholder="{{ nas.nasName }}" readonly>            
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Сокр.</label>
                          <div class="col-sm-10">
                              <input class="form-control" placeholder="{{ nas.shortName }}" readonly>             
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Тип</label>
                          <div class="col-sm-10">
                              <input class="form-control" placeholder="{{ nas.type }}" readonly>     
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Порты</label>
                          <div class="col-sm-10">
                              <input class="form-control" placeholder="{{ nas.ports }}" readonly>       
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Пароль</label>
                          <div class="col-sm-10">
                              <input class="form-control" placeholder="{{ nas.secret }}" readonly>       
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Строка</label>
                          <div class="col-sm-10">
                              <input class="form-control" placeholder="{{ nas.community }}" readonly>       
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Описание</label>
                          <div class="col-sm-10">
                              <textarea rows="2" class="form-control" placeholder="{{ nas.description }}" readonly></textarea>       
                          </div>
                      </div>                     
                      <div class="form-group" [hidden]="confirmDelete">
                          <div class="col-sm-offset-2 col-sm-10">                              
                              <span><button type="button" class="btn btn-default" (click)="onEdit()"><i class="fa fa-pencil fa-lg"></i> редактировать</button></span>
                              <span><button type="button" class="btn btn-default pull-right" (click)="confirmDelete=true"><i class="fa fa-trash fa-lg"></i> удалить</button></span>
                                                            
                          </div>
                      </div>
                      <div class="form-group" [hidden]="!confirmDelete">
                            <div class="col-sm-offset-2 col-sm-10">  
                                <span><button type="button" class="btn btn-default" (click)="confirmDelete=false"><i class="fa fa-undo fa-lg"></i> отмена</button></span>
                                <span><button type="button" class="btn btn-danger pull-right" (click)="onDelete()"><i class="fa fa-trash fa-lg"></i> удалить</button></span>
                            </div>
                      </div>
                  </form>             
             </div>
         </div>
     </div>
   </div>
</div>