<div class="row">
     <div class="col-lg-12">
          <h1 class="page-header">Сеть "h18"</h1>
      </div>
     <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
 <div class="row">
     <div class="col-lg-6">
         <div class="panel panel-default">
             <div class="panel-heading">
                 Создать
             </div>
             <div class="panel-body">
                 <div class="row">
                     <div class="col-lg-6">
                         <form role="form">
                              <div class="list-group">
                                 <a href="" [routerLink]="['Users', 'UserAdd']" class="list-group-item">Нового пользователя</a>
                                 <a href="" [routerLink]="['Groups', 'GroupAdd']" class="list-group-item">Новую группу</a>
                                 <a href="" [routerLink]="['Nases', 'NasAdd']" class="list-group-item">Новое устройство</a>
                              </div>
                          </form>
                      </div>
                  </div>
             </div>
         </div>
     </div>
 </div>


